node_modules
**/node_modules
.pnpm-store
.turbo
.next
**/.next
dist
**/dist
out
**/out
coverage
**/coverage
.git
.github
.tmp
.DS_Store
*.log
apps/web/.next
apps/web/out
apps/server/dist
supabase/.temp
